@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

html {
  scroll-padding-top: 140px; /* whatever your LARGE navbar height is */
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 180px; /* desktop large navbar */
  }
}

/* Define fallback font families */
body {
  font-family: var(--font-dm-sans), system-ui, sans-serif;
  color: #1f2937; /* Tailwind gray-800 */
}

/* Headings use Luckiest Guy */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-luckiest-guy), cursive;
  letter-spacing: 0.5px;
}


/* Remove pagination dots */
.swiper-pagination {
  display: none !important;
}

/* Custom black circular arrows */
.swiper-button-next, .swiper-button-prev {
  background: black;
  border-radius: 999px;
}

.swiper-navigation-icon {
  color:white;
  height:20px;
}
.swiper-navigation-icon {
  color:white;
  height:20px !important;
  fill: none;
  stroke: white;
  stroke-width:3;

}



.no-select {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none;
}
.nav-link {
          position: relative;
        }
        .nav-link::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px;
          height: 2px;
          width: 0;
          background: white;
          transition: width 0.3s ease;
        }
        .nav-link:hover::after {
          width: 100%;
        }


        /* Mobile-only initial logo size */
.logo-mobile-small {
  width: 170px;
  height: 170px;
}

@media (min-width: 768px) {
  .logo-mobile-small {
    width: 240px;
    height: 240px;
  }
}